* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

.otras-especies {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.div-img {
  display: flex;
  flex: 1 0 calc(25% - 1rem);
}

.img-multiple {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  flex: 1 0 calc(25% - 1rem);
}

.header {
  background-color: #f9f3f3;
  display: flex;
  width: 100%;
  position: fixed;
  transition: background-color 300ms;
}

.header.active {
  background-color: transparent;
}

.header a {
  color: #f25287;
}

.header h1 {
  color: #f25287;
}

.header.active a {
  color: #fff;
}

.header.active h1 {
  color: #fff;
}

.h1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: 0.45s ease-in-out;
}

.border-r-1 {
  border-radius: 10px 0px 0px 10px;
}

.border-r-4 {
  border-radius: 0px 10px 10px 0px;
}

.border-r-2 {
  border-radius: 0px 10px 0px 0px;
}
.border-r-3 {
  border-radius: 0px 0px 0px 10px;
}

.prueba {
  flex: 1 0 calc(20%);
  @media screen and (min-width: 768px) {
    flex: 1 0 calc(33%);
  }
}
