* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

.imgs-multiples {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: 0.45s ease-in-out;
}

.imgs-multiples :hover {
  background-color: #313131;
}

.border-r-1 {
  border-radius: 10px 0px 0px 0px;
}

.border-r-2 {
  border-radius: 0px 10px 0px 0px;
}

.border-r-3 {
  border-radius: 0px 0px 0px 10px;
}

.border-r-4 {
  border-radius: 0px 0px 10px 0px;
}
